{% load static %}

<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}D-Weather App{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<section class="ftco-section">
    <div class="container">
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">D-Weather App</a>
                <div class="social-media order-lg-last">
                    <p class="mb-0 d-flex">
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                    </p>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto mr-md-3">
                        <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                        {% if not request.user.is_authenticated %}
                            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                            <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Register</a></li>
                        {% else %}
                            {% if request.user.is_admin %}
                                <li class="nav-item"><a href="{% url 'admin:index' %}" class="nav-link">Admin Panel</a></li>
                            {% endif %}
                            <li class="nav-item"><a href="{% url 'get_weather_info' %}" class="nav-link">Check Weather</a></li>
                            <li class="nav-item"><a href="{% url 'get_my_logs' %}" class="nav-link">History</a></li>
                            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                        {% endif %}


                    </ul>
                </div>
            </div>
        </nav>
        <!-- END nav -->
        {% block content %}
        {% endblock %}
    </div>
</section>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
